footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin-top: 0;
  background-color: #dfdfdf;
}

.first-container-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
}

.products, .business, .support {
  padding: 5%;
}

footer h3 {
  align-self: center;
  width: 90%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 26px;
  line-height: 38px;
}

.products h4, .business h4, .support h4 {
  padding-bottom: 10%;
  font-weight: 400;
  font-size: 18px;
}

.products ol, .business ol, .support ol {
  list-style-type: decimal;
}

.products li, .business li, .support li {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 400;
}

.second-container-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  width: 90%;
  height: 30%;
  margin-left: 5%;
  padding-bottom: 5%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);

}

.second-container-footer p {
  font-size: 12px;
  align-self: flex-end;
  padding-bottom: 0;
}

.second-container-footer div:nth-child(2) {
  padding-left: 2%;
}

.second-container-footer div:nth-child(1) {
  width: 30%;
  display: flex;
}

.second-container-footer ul {
  display: flex;
  justify-content: space-around;
  width: 30%;
  padding-right: 4%;
}

.second-container-footer a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

@media (min-width: 1024px) {
  footer {
    margin-left: 300px;
  }

  footer h3 {
    align-self: center;
    margin-top: 5%;
    padding: 0;
    padding-top: 5%;
    padding-left: 3%;
    border-top: 2px solid rgba(0, 0, 0, 0.12);;
    border-bottom: none;
  }

  .first-container-footer {
    flex-direction: row;
    justify-content: flex-end;
    height: 0;
    padding: 2%;
  }

  .products, .business, .support {
    padding: 2%;
    margin-right: 2%;
  }

  .second-container-footer {
    align-self: center;
    height: 60%;
    margin: 0;
    padding-bottom: 2%;
  }

  .second-container-footer ul {
    justify-content: flex-end;
  }

  .second-container-footer p {
    font-size: 16px;
  }

  .footer-icons {
    padding: 5px;
    font-size: 22px;
  }
}
