.presentation {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: 0;
  padding-top: 20%;
}

.presentation img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 5%;
}

.presentation-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: none;
  justify-content: space-evenly;
  width: 100%;
}

.presentation-text p {
  color: rgba(0, 0, 0, 0.7);
  align-self: center;
  width: 60%;
  line-height: 28.5px;
  margin-top: 10%;
}

.presentation-text h1 {
  align-self: flex-start;
  margin-left: 30px;
  padding: 30px;
  border-bottom: 1px solid #C4C4C4;
  width: 75%;
}

.presentation a {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 1%;
}

.functionalities-box {
  display: flex;
  flex-direction: column;
  background-color: #DDDDE5;
}

.functionalities-box img {
  width: 100px;
  height: 100px;
}

.functionalities-box p {
  text-transform: none;
}

.functionalities h2 {
  display: none;
}

.functionalities-box article {
  display: flex;
  padding: 8%;
}

.functionalities-box article:nth-child(3), .functionalities-box article:nth-child(1) {
  flex-direction: row-reverse;
}

.functionalities-box article:nth-child(even) img{
  padding-right: 25px;
}

.functionalities-box article:nth-child(odd) img{
  padding-left: 25px;
  }

.why-trackgenix {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 45%;
  border-bottom: 2px solid #383768;
}

.why-trackgenix div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.why-trackgenix-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
  border-bottom: 2px solid #383768;
}

.why-trackgenix-container img {
  width: 50%;
}

.why-trackgenix-container h2 {
  margin-top: 15%;
  font-size: 20px;
}

.why-trackgenix-container h2 span {
  font-size: 32px;
  font-weight: 400;
}

.why-trackgenix article {
  display: flex;
  text-transform: none;
  width: 80%;
  padding: 5%;
}

.why-trackgenix p {
  font-size: 14px;
  width: 80%;
  color: black;
}

.why-trackgenix article img {
  width: 20%;
  height: 20%;
}

.why-trackgenix article:nth-child(3), article:nth-child(1){
  flex-direction: row-reverse;
}

.message-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}

.first-section-message {

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-section-message p {
  display: none;
}

.first-section-message h2 {
  font-size: 20px;
  line-height: 18px;
  padding-bottom: 5%;
}

.message-images {
  display: flex;
  justify-content: space-around;
}

.message-images img {
  align-self: center;
}

.message-images img:nth-child(1) {
  width: 18%;
}

.message-images img:nth-child(3) {
  width: 23%;
}

.second-section-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.second-section-message h2 {
  display: none;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form div {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-direction: column;
  margin: 5%;
}

.form label, p {

  align-self: flex-start;
  text-transform: none;
  font-weight: 500;
  padding-bottom: 2%;
  font-size: 14px;
}

.form input {
  border: 1px solid #000000;
  flex-basis: 37px;
  border-radius: 4px;
}

.form textarea {
  width: 90%;
  border: 1px solid #000000;
  border-radius: 4px;
}

.form button {
  align-self: center;
  width: 30%;
  background-color: #383768;
  color: white;
}

.areas label {
  display: flex;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 70%;
}

.areas input {
  accent-color: #373867;
}

.areas p:nth-of-type(1) {
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
  padding-top: 3%;
}

.about-us-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-us-section h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  width: 100%;
}

.our-mission {
  display: flex;
}

.our-mission img, .our-history img {
  align-self: flex-start;
  width: 40%;
  padding: 2%;
}

.our-mission-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 50%;
  height: 250px;
}

.our-mission-text p {
  font-size: 16px;
  padding-left: 15%;

}

.our-mission-text h3, .our-history-text h3 {
  border-bottom: none;
  font-size: 18px;
}

.our-history {
  margin-top: 25%;
  display: flex;
  flex-direction: row-reverse;
}

.our-history-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  height: 280px;
}

.our-history-text p {
  font-size: 16px;
  padding-right: 15%;
}

@media (min-width: 1024px) {
  main {
    margin-left: 300px;
  }

  .presentation {
    flex-direction: row;
  }

  .presentation h1 {
    border: none;
    align-self: center;
  }

  .functionalities-box {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2%;

    background-color: white;
  }

  .functionalities h2 {
    display: flex;
    margin-bottom: 5%;
    margin-left: 8%;
  }
  
  .functionalities-box article {
    width: 40%;
    padding: 0%;
    margin-left: 5%;
    height: 300px;
  }

  .functionalities-box article:nth-child(3), .functionalities article:nth-child(1){
    flex-direction: row;
  }

  .why-trackgenix {
    flex-direction: row;
    border-bottom: none;
  }

  .why-trackgenix-container {
    border-bottom: none;
  }
  
  .message-section {
    flex-direction: row;
  }

  .first-section-message {
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 25%;
    height: 500px;
    border-right: 2px solid rgb(0, 0, 0, 0.12);
  }

  .first-section-message p {
    display: flex;
    align-self: center;
    width: 80%;
    padding-top: 10%;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
  }

  .message-images {
    width: 60%;
  }

  .second-section-message {
    width: 70%;
  }

  .second-section-message h2 {
    display: unset;
    align-self: flex-start;
    padding-bottom: 2%;
    border-bottom: 2px solid rgb(0, 0, 0, 0.12);
    width: 80%;
    margin-left: 10%;
  }

  .form {
    width: 80%;
  }

  .form button {
    width: 15%;
  }

}