body {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  line-height: 18px;
}

main {
  margin: 7% 0 0 23%;
  z-index: 0;
}

section {
  height: 900px;
}

header {
  position: fixed;
  z-index: 0;
}

h1 {
  margin-left: 100px;
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  font-weight: 400;
}

p {
  color: rgb(0, 0, 0, 0.7);
  font-size: 20px;
  line-height: 23px;
}

span {
  font-weight: 700;
}

a {
  text-decoration: none;
}

i {
  margin-right: 7px;
}

aside {
  position: fixed;
  width: 325px;
  bottom: 0;
  top: 0;
  background-color: #373867;
  color: white;
}

aside input {
  width: 260px;
  height: 38px;
  margin-left: 20px;
  margin-top: 30px;
  background-color: #373867;
  border: 1px solid white;
  border-radius: 5px;
}

aside ul {
  list-style: none;
  font-size: 20px;
}


aside a {
  color: white;
}

aside li {
  width: 281px;
  margin-top: 35px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(255, 255, 255, 0.03);
}

.navbar {
  position: fixed;
  width: 100%;
  height: 108px;
  top: 0;
  z-index: 1;
  background-color: #373867;
}

.navbar-line {
  height: 80px;
  margin-right: 2%;
  margin-left: 23%;
  border-bottom: 1px solid white;
}

.navbar a {
  margin-left: 5px;
  font-size: 24px;
  color: white;
}

.navbar ul {
  margin-top: 47px;
  float: right;
}

.navbar li {
  display: inline;
}

.index-icon {
  margin-top: 40px;
  color: #FFFFFF;
  font-size: 20px;
}

.aside-content {
  margin-left: 20px;
  padding-top: 45px;
}

.menu {
  width: 281px;
  padding-bottom: 15px;
  color: white;
  border-bottom: 2px solid rgb(255, 255, 255, 0.03);
  font-size: 24px;
  font-weight: bold;
}

.get-in-touch li {
  border-bottom: none;
  text-transform: none;
}

.get-in-touch {
  margin-top: 55px;
}

.get-in-touch p:nth-of-type(1) {
  padding-bottom: 15px;
  color: white;
  border-bottom: 2px solid rgb(255, 255, 255, 0.03);
  font-size: 24px;
  font-weight: bold;
}

.get-in-touch p:nth-of-type(2) {
  width: 258px;
  height: 97px;
  padding-top: 34px;
  color: white;
  font-size: 16px;
  font-weight: 200;
  text-transform: none;
  line-height: 19px;
}

.get-in-touch li:nth-of-type(1) {
  text-decoration: underline;
}

.presentation {
  padding: 20px;
}

.presentation div {
  display: inline-block;
  width: 46%;
}

.presentation div:first-of-type {
  float: left;
}

.presentation-text {
  width: 576px;
  height: 347px;
  padding-top: 197px;
}

.presentation h1 {
  margin-left: 18px;
  margin-bottom: 30px;
}

.presentation-image {
  padding-right: 82px;
  padding-top: 107px;
}

.presentation p {
  width: 408px;
  height: 160px;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.presentation a {
  width: 100px;
  height: 20px;
  margin-top: 110px;
  margin-right: 396px;
  padding-top: 5px;
  float: right;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.functionalities {
  display: inline-block;
  padding: 20px;
}

.functionalities h2 {
  margin-left: 40px;
  margin-bottom: 80px;
}

.functionalities article {
  width: 530px;
  padding-bottom: 120px;
  float: left;
}

.functionalities img {
  width: 200px;
  padding-left: 35px;
  padding-right: 25px;
  float: left;
}

.functionalities p {
  width: 560px;
  height: 137px;
  font-size: 18px;
}

.why-trackgenix {
  padding-left: 30px;
  padding-right: 40px;
}

.why-trackgenix div {
  display: inline-block;
  width: 49%;
}

.why-trackgenix div:first-of-type {
  float: left;
}

.why-trackgenix article {
  display: inline-block;
  width: 48%;
  margin-top: 35px;
  padding-bottom: 15px;
}

.why-trackgenix article img {
  float: left;
}

.why-trackgenix article p {
  width: 419px;
  padding-left: 20px;
  padding-bottom: 52px;
  font-size: 18px;
}

.why-trackgenix-container {
  height: 800px;
  margin-right: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.12);
}

.why-trackgenix-container img {
  width: 320px;
  margin-top: 145px;
}

.why-trackgenix-container span {
  font-size: 20px;
  font-weight: 400;
}

.why-trackgenix-container h2 {
  margin-left: 85px;
  margin-top: 350px;
  width: 100px;
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
}

.message-section div {
  display: inline-block;
  width: 46%;
}

.message-section p {
  width: 352px;
  margin-left: 100px;
  margin-bottom: 25px;
  text-align: center;
}

.first-section-message {
  height: 800px;
  padding-left: 20px;
  padding-right: 15px;
  border-right: 2px solid rgba(0, 0, 0, 0.12);
  text-align: center;
}

.img-1 {
  margin-bottom: 65px
}

.img-2 {
  margin-left: 8px;
  margin-bottom:80px;
}

.img-3 {
  margin-bottom: 55px;
}

.first-section-message h2 {
  width: 500px;
  padding-left: 23px;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 150px;
  margin-bottom: 27px;
}

.first-section-message img {
  display: inline;
  padding-left: 15px;
}

.second-section-message {
  padding-right: 15px;
  float: right;
}

.form {
  padding: 20px;
}

.form div {
  display: block;
  padding: 10px 12px;
}

.form-title {
  width: 450px;
  height: 40px;
  margin-left: 31px;
  margin-top: 160px;
  color: #000000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
}

.form label {
  text-transform: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.form input {
  width: 450px;
  height: 37px;
  border: 1px solid #000000;
  border-radius: 4px;
}


.form textarea {
  width: 450px;
  height: 97px;
  top: 19.83%;
  bottom: 0%;
  border: 1px solid #000000;
  border-radius: 4px;
}

.form button {
  width: 100px;
  height: 24px;
  margin-left: 190px;
  margin-top: 54px;
  background-color: #373867;
  color: white;
}

.form select {
  width: 215px;
  height: 36px;
  left: 898px;
  top: 530px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.areas input, .areas p {
  display: inline-block;
  width: 50px;
  margin-left: 0;
  padding-left: 0;
}

.areas input {
  height: 22px;
  accent-color: #373867;
}

.areas p:nth-of-type(1) {
  width: 115px;
  margin-left: 0;
  text-transform: none;
  text-align: start;
  color: #000000;
  font-size: 14px;
  line-height: 16px;
}

.areas label {
  display: block;
  width: 215px;
  height: 30px;
  margin: 10px 0;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid black;
}

.about-us-section {
  width: 80%;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 40px;
}

.about-us-section div {
  display: block;
  width: 49%;
}

.about-us-section h2 {
  width: 435px;
  height: 44px;
  color: #000000;
}

.our-mission {
  padding-bottom: 5px;
}

.our-mission div {
  display: inline-block;
}

.our-mission-text {
  margin-top: 5px;
  float: right;
}

.our-mission-text h3 {
  width: 670px;
  margin-top: 35px;
  margin-left: 170px;
  padding-bottom: 20px;
  color: #000000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 24px;
  font-weight: 400;
}

.our-mission-text p {
  width: 680px;
  margin-left: 170px;
  padding-top: 30px;
  text-align: justify;
}

.our-mission-image {
  padding-top: 25px;
}

.our-history div {
  display: inline-block;
}

.our-history-text {
  float: left;
  margin-top: -270px;
}

.our-history-text h3 {
  width: 670px;
  margin-top: 35px;
  margin-right: 170px;
  padding-bottom: 15px;
  color: #000000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.our-history-text p {
  width: 680px;
  margin-right: 170px;
  padding-top: 30px;
  float: left;
  text-align: justify;
}

.our-history-image {
  margin-left: 725px;
  padding-top: 25px;
}

footer {
  height: 700px;
  margin-left: 324px;
  background-color: rgba(151, 151, 151, 0.39);
}

.line-footer {
  position: absolute;
  width: 1129px;
  margin-top: 33px;
  margin-left: 30px;
  border-top: 2px solid rgba(0, 0, 0, 0.12);
}

.first-container-footer {
  height: 350px;
  display: block;
  text-align: start;
}

.title-footer {
  margin-top: 100px;
  padding-left: 20px;
  margin-right: 380px;
  float: left;
  font-size: 26px;
  line-height: 38px;
}

.title-footer, .products, .business, .support {
  display: inline-block;
  height: 100px;
  margin-left: 10px;
}

.products, .business, .support {
  margin-top: 98px;
  margin-right: 66px;
}

.products h4, .business h4, .support h4 {
  margin-bottom: 14px;
  text-align: start;
  font-weight: 500;
  font-size: 18px;
  font-variant: small-caps;
}

.products ol, .business ol, .support ol {
  text-align: start;
  list-style-type: decimal;
}

.products li, .business li, .support li {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.second-container-footer {
  height: 230px;
  margin: 0 30px 0 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.second-container-footer div {
  display: block;
}

.second-container-footer p {
  margin-top: 190px;
  float: left;
  font-size: 16px;
}

.second-container-footer ul {
  margin-top: 190px;
  margin-right: -8px;
  float: right;
}

.second-container-footer li {
  display: inline-block;
}

.second-container-footer a {
  color: #000000;
  text-decoration: none;
  font-size: 28px;
}